<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a routerLink="/" class="navbar-logo" aria-label="Streamday Home">Streamday</a>

    <!-- Navigation Links (Desktop) -->
    <ul class="nav-links desktop">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>

    </ul>
    </div>

   

  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen" class="mobile-menu">
    <ul class="nav-links mobile">
      <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
    </ul>
  </div>
</nav>
